body {
  background-color: #8066ff;
  color: white;
  background-image: url(https://raw.githubusercontent.com/marvindanig/elevator/master/assets/images/ipad.png);
  background-size: 200% 100%;
  background-position: center right;
} 


.demo {
	position: absolute;
    top: 14vw;
    right: 31vw;
    width: 100vw;
    height: 86vw;
    border: 0px none; 
    contain: strict;
    will-change: content;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch; 
}